<template>
  <div>
    <div v-if="!options.text" v-for="item in timetable" :key="item.day">
      <div v-if="actions.hasItems(item.events)" class="line">
        <span class="bg-white pr-2 line-title">{{ item.day }}</span>
      </div>
      <table class="table-auto">
        <tbody>
          <tr
            v-for="event in actions.sortByTime(item.events)"
            :key="event.stage + event.start"
            v-if="
              (options.favourites && event.isFavourite) || !options.favourites
            "
            @click="actions.toggleFavourite(item.day, event.start, event.stage)"
            :style="{
              'background-image': event.isFavourite
                ? actions.getGradient(event)
                : 'none'
            }"
            :ref-id="item.day + event.start + event.stage"
            class="cursor-pointer"
          >
            <td v-if="options.startTime">
              {{ actions.convertHours(event.start) }}
            </td>
            <td v-if="options.startTime && options.endTime" class="px-1">
              -
            </td>
            <td v-if="options.endTime">
              {{ actions.convertHours(event.end) }}
            </td>
            <td
              :class="[
                event.startTime || options.endTime ? 'pr-2 pl-2' : 'pr-2'
              ]"
            >
              <span
                v-for="(artist, index) in event.artists"
                :key="artist"
                class="uppercase"
              >
                <span
                  v-if="index + 1 === event.artists.length && !options.short"
                  class="text-xs"
                  >{{ event.separator }}</span
                >{{ actions.shorten(artist) }}
              </span>
            </td>
            <td v-if="options.stage" class="italic">
              {{ actions.shorten(event.stage) }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <textarea
      v-if="options.text"
      v-model="actions.dayToText(timetable)"
      class="w-full mt-4 font-mono min-h-screen font-light border-black border-2 p-2"
      readonly
    >
    </textarea>
  </div>
</template>
<script>
export default {
  name: 'Day',
  props: {
    timetable: Array,
    actions: Object
  },
  computed: {
    options() {
      return this.$store.state.options
    }
  }
}
</script>
