<template>
  <div>
    <div
      v-for="item in optionDescr"
      v-if="(view === 'table' && item.table) || view != 'table'"
      :key="item.id"
      class="clearfix border-b-2 border-black py-1"
    >
      {{ item.descr }}
      <label class="form-switch float-right">
        <input
          :checked="options[item.id]"
          @change="toggle(item.id)"
          type="checkbox"
        />
        <i></i>
      </label>
    </div>
  </div>
</template>
<script>
export default {
  name: 'Options',
  computed: {
    optionDescr() {
      return this.$store.state.optionDescr
    },
    options() {
      return this.$store.state.options
    },
    view() {
      return this.$store.state.currentView
    }
  },
  methods: {
    toggle(key) {
      this.$store.dispatch('TOGGLE_OPTION', { key })
    }
  }
}
</script>
<style>
.border-b-2:last-child {
  border: none;
}
.form-switch {
  position: relative;
  display: inline-block;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.form-switch i {
  position: relative;
  display: inline-block;
  margin-right: 0.5rem;
  width: 46px;
  height: 26px;
  background-color: black;
  border-radius: 23px;
  vertical-align: text-bottom;
  transition: all 0.3s linear;
  top: -3px;
}
.form-switch i::before {
  content: '';
  position: absolute;
  left: 0;
  width: 42px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
  transition: all 0.25s linear;
}
.form-switch i::after {
  content: '';
  position: absolute;
  left: 0;
  width: 22px;
  height: 22px;
  background-color: #fff;
  border-radius: 11px;
  box-shadow: 1px 0px 1px rgb(0, 0, 0);
  transform: translate3d(2px, 2px, 0);
  transition: all 0.2s ease-in-out;
}
.form-switch:active i::after {
  width: 28px;
  transform: translate3d(2px, 2px, 0);
}
.form-switch:active input:checked + i::after {
  transform: translate3d(16px, 2px, 0);
}
.form-switch input {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
.form-switch input:checked + i {
  background-color: #358c44;
}
.form-switch input:checked + i::before {
  transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}
.form-switch input:checked + i::after {
  transform: translate3d(22px, 2px, 0);
}
</style>
