<template>
  <div class="views mt-3">
    <template v-for="item in viewDescr">
      <input
        :id="item.id"
        @change="switchView()"
        :value="item.id"
        :checked="item.id === view"
        type="radio"
        name="view"
      />
      <label :for="item.id">
        {{ item.descr }}
      </label>
    </template>
  </div>
</template>
<script>
export default {
  name: 'Segments',
  computed: {
    view() {
      return this.$store.state.currentView
    },
    viewDescr() {
      return this.$store.state.viewDescr
    }
  },
  methods: {
    switchView() {
      const key = document.querySelector('.views input:checked').value
      this.$store.dispatch('SWITCH_VIEW', { key })
    }
  }
}
</script>
<style>
.views {
  display: flex;
  width: 100%;
  position: relative;
  user-select: none;
  -webkit-tap-highlight-color: black;
  position: relative;
  z-index: 1;
  border: 2px solid black;
  border-radius: 3px;
  color: black;
}
.views > input {
  display: none;
}
.views > input:checked + label {
  color: white;
}
.views > input:nth-of-type(1):checked ~ label:last-of-type:before {
  transform: translateX(calc(0% + 0px));
}
.views > input:nth-of-type(2):checked ~ label:last-of-type:before {
  transform: translateX(calc(100% + 0px));
}
.views > input:nth-of-type(3):checked ~ label:last-of-type:before {
  transform: translateX(calc(200% + 0px));
}
.views label {
  flex: 1;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.views label:last-of-type:before {
  content: '';
  display: block;
  max-width: calc(33.3333333333% - 0px);
  margin: 0px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  transform: translateX(0);
}
.views label {
  padding: 6px 3px;
  transition: color 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
.views label:before {
  background: black;
  transition: all 250ms cubic-bezier(0, 0.95, 0.38, 0.98);
}
.views label:not(:last-child) {
  border-right: 2px solid black;
}
</style>
