<template>
  <div>
    <div
      v-for="item in timetable"
      :key="item.day"
      v-if="actions.hasItems(item.events)"
    >
      <div class="line">
        <span class="bg-white pr-2 line-title">{{ item.day }}</span>
      </div>
      <div class="clearfix">
        <div class="float-left">
          <div>Stage</div>
          <template v-for="time in timeRange(item)">
            <div class="time-slot">
              {{ actions.convertHours(time + ':00') }}
            </div>
          </template>
        </div>
        <div
          :style="{
            height: calcTotalHeight(item)
          }"
          class="flex overflow-x-scroll"
        >
          <div
            v-for="(group, x) in actions.groupByStage(
              actions.sortByTime(item.events)
            )"
            :key="x"
            class="flex-1"
          >
            <span class="italic">{{ actions.shorten(group[0].stage) }}</span>
            <table class="table-auto w-24 relative">
              <tbody class="relative">
                <tr
                  v-for="event in group"
                  :key="event.artist"
                  v-if="
                    (options.favourites && event.isFavourite) ||
                      !options.favourites
                  "
                  :style="{
                    top: calcPosition(item, event),
                    height: calcHeight(event),
                    'background-image': event.isFavourite
                      ? actions.getGradient(event)
                      : 'none'
                  }"
                  @click="
                    actions.toggleFavourite(item.day, event.start, event.stage)
                  "
                  class="border-t border-b border-black w-full absolute overflow-hidden cursor-pointer"
                >
                  <td>
                    <span
                      v-for="(artist, index) in event.artists"
                      :key="artist"
                      class="uppercase"
                    >
                      <span
                        v-if="
                          index + 1 === event.artists.length && !options.short
                        "
                        class="text-xs"
                        >{{ event.separator }}</span
                      >{{ actions.shorten(artist) }}
                    </span>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'TableView',
  props: {
    timetable: Array,
    actions: Object
  },
  computed: {
    options() {
      return this.$store.state.options
    }
  },
  methods: {
    convertHours(hhmm) {
      if (!this.options.hour24) {
        const hh = parseInt(hhmm.split(':')[0])
        const mm = hhmm.split(':')[1]
        const converted = hh === 0 || hh > 12 ? Math.abs(hh - 12) : hh
        return `${converted}:${mm}`
      } else return hhmm
    },
    timeRange(item) {
      let range = []
      for (let hh = item.start; hh < item.end; hh++) {
        const hour = hh > 23 ? hh - 24 : hh
        range.push(hour)
      }
      if (this.options.reverse) range = range.reverse()
      return range
    },
    calcPosition(item, event) {
      const start = this.actions.toNumber(event.start)
      const end = this.actions.toNumber(event.end)
      let position
      if (this.options.reverse) {
        position = item.end * 60 - end + 'px'
      } else {
        position = start - item.start * 60 + 'px'
      }
      return position
    },
    calcHeight(event) {
      const start = this.actions.toNumber(event.start)
      const end = this.actions.toNumber(event.end)
      return end - start + 'px'
    },
    calcTotalHeight(item) {
      return this.timeRange(item).length * 60 + 60 + 'px'
    }
  }
}
</script>
<style>
.time-slot {
  height: 60px;
}
</style>
