<template>
  <div class="p-3 leading-tight">
    <a @click="toggleOptions()" href="#" class="underline"
      ><span v-if="showOptions">Close Options</span
      ><span v-else>Show Options</span></a
    >
    <Options v-if="showOptions" />
    <Segments />
    <Day v-if="view === 'day'" :timetable="timetable" :actions="actions" />
    <Stage v-if="view === 'stage'" :timetable="timetable" :actions="actions" />
    <TableView
      v-if="view === 'table'"
      :timetable="timetable"
      :sorted="sortByTime"
      :group="groupByStage"
      :actions="actions"
    />
  </div>
</template>

<script>
import Options from '~/components/Options.vue'
import Day from '~/components/Day.vue'
import Stage from '~/components/Stage.vue'
import TableView from '~/components/TableView.vue'
import Segments from '~/components/Segments.vue'
export default {
  components: { Options, Day, Stage, TableView, Segments },
  data() {
    return {
      showOptions: false,
      actions: {
        convertHours: this.convertHours,
        getGradient: this.getGradient,
        groupByStage: this.groupByStage,
        hasItems: this.hasItems,
        shorten: this.shorten,
        sortByTime: this.sortByTime,
        toggleFavourite: this.toggleFavourite,
        toNumber: this.toNumber,
        dayToText: this.dayToText,
        stageToText: this.stageToText
      }
    }
  },
  computed: {
    options() {
      return this.$store.state.options
    },
    view() {
      return this.$store.state.currentView
    },
    festival() {
      return this.$store.state.festivals[0]
    },
    timetable() {
      return this.festival.timetable
    }
  },
  methods: {
    toggleOptions() {
      this.showOptions = !this.showOptions
    },
    sortByTime(array) {
      const options = this.options
      const toNumber = this.toNumber
      return [...array].sort(function(a, b) {
        const aStart = toNumber(a.start)
        const bStart = toNumber(b.start)
        if (options.reverse) {
          return aStart < bStart
        } else {
          return aStart > bStart
        }
      })
    },
    shorten(name) {
      let names
      if (this.options.short) {
        names = name
          .split(' ')
          .map((name) => name.substring(0, 4).replace('The ', ''))
          .join(' ')
      } else {
        names = name
      }
      return names
    },
    toNumber(hhmm) {
      let hh = parseInt(hhmm.split(':')[0])
      const mm = parseInt(hhmm.split(':')[1])
      hh = hh < 12 ? 24 + hh : hh // after midnight adds day advantage
      return hh * 60 + mm
    },
    groupByStage(array) {
      return [...array].reduce((r, a) => {
        r[a.stage] = [...(r[a.stage] || []), a]
        return r
      }, {})
    },
    toggleFavourite(day, start, stage) {
      this.$store.dispatch('TOGGLE_FAVOURITE', {
        day,
        start,
        stage
      })
    },
    convertHours(hhmm) {
      if (!this.options.hour24) {
        const hh = parseInt(hhmm.split(':')[0])
        const mm = hhmm.split(':')[1]
        const converted = hh === 0 || hh > 12 ? Math.abs(hh - 12) : hh
        return `${converted}:${mm}`
      } else return hhmm
    },
    getGradient(event) {
      return (
        'linear-gradient(to right, hsl(' +
        event.color1 +
        ', 98%, 91%), hsl(' +
        event.color2 +
        ', 98%, 91%))'
      )
    },
    hasItems(items) {
      return (
        items.filter(
          (item) =>
            (this.options.favourites && item.isFavourite) ||
            !this.options.favourites
        ).length > 0
      )
    },
    dayToText(timetable) {
      let output = ''
      const options = this.options
      const actions = this.actions
      timetable.forEach(function(item) {
        if (actions.hasItems(item.events)) {
          output += item.day + '\n'
          actions.sortByTime(item.events).forEach(function(event) {
            if (
              (options.favourites && event.isFavourite) ||
              !options.favourites
            ) {
              if (options.startTime) output += actions.convertHours(event.start)
              if (options.startTime && options.endTime) output += ' - '
              if (options.endTime) output += actions.convertHours(event.end)
              if (options.startTime || options.endTime) output += ' '
              output += [...event.artists]
                .map((artist) => actions.shorten(artist))
                .join(event.separator)
              if (options.stage) output += ' ' + actions.shorten(event.stage)
              output += '\n'
            }
          })
        }
      })
      return output
    },
    stageToText(timetable) {
      let output = ''
      const options = this.options
      const actions = this.actions
      timetable.forEach(function(item) {
        if (actions.hasItems(item.events)) {
          output += item.day + '\n'
          for (const [key, group] of Object.entries(
            actions.groupByStage(actions.sortByTime(item.events))
          )) {
            console.log(group, key)
            if (options.stage && actions.hasItems(item.events))
              output += actions.shorten(group[0].stage) + '\n'
            group.forEach(function(event) {
              if (
                (options.favourites && event.isFavourite) ||
                !options.favourites
              ) {
                if (options.startTime)
                  output += actions.convertHours(event.start)
                if (options.startTime && options.endTime) output += ' - '
                if (options.endTime) output += actions.convertHours(event.end)
                if (options.startTime || options.endTime) output += ' '
                output += [...event.artists]
                  .map((artist) => actions.shorten(artist))
                  .join(event.separator)
                output += '\n'
              }
            })
          }
        }
      })
      return output
    }
  }
}
</script>
<style>
.line {
  background: black;
  height: 12px;
  margin: 20px 0px;
}
.line-title {
  position: relative;
  top: -10px;
}
.gradient {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
</style>
